body {
  font-family: "Courier New", Courier, monospace;
  color: #f2f2f2;
  background-color: #2e2e2e;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}

select {
  background-color: white;
}

label {
  margin-top: 10px;
}

#deals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  position: relative;
  background-color: #fdf5e6;
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #fdf5e6;
  color: #2e2e2e;
}

.card:hover {
  background-color: #D27900;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
}

.card-image {
  margin-bottom: 30px;
}

.card-footer {
  position: absolute;
  bottom: 0;
}

.fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.field {
  display: flex;
  margin-left: 10px;
}

.field input, select {
  margin-left: 10px;
}

.field input {
  width: 50px;
}
